.about-us {
  position: relative;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 55px;
}

.about-us__name {
  padding: 0;
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 87px;
}

.about-us__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 17px;
  line-height: 20px;
}

.about-us__link {
  position: relative;
  padding-top: 0;
  margin-bottom: 83px;
}

.about-us__link-eco {
  position: absolute;
  top: -55px;
  left: 8px;
  width: 32px;
  height: 37px;
}

.about-us__link-money {
  position: absolute;
  top: -55px;
  left: 0;
  width: 47px;
  height: 29px;
}

.about-us__link-like {
  position: absolute;
  top: -50px;
  left: 8px;
  width: 34px;
  height: 27px;
}

.about-us__link-love {
  position: absolute;
  top: -52px;
  left: 4px;
  width: 35px;
  height: 34px;
}

.about-us__link-support {
  position: absolute;
  top: -51px;
  left: -5px;
  width: 55px;
  height: 23px;
}

.about-us__link-pakege {
  position: absolute;
  top: -53px;
  left: 3px;
  width: 33px;
  height: 32px;
  margin-bottom: 0;
}

.about-us__link--pakege {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .about-us {
    top: -35px;
    width: 668px;
    margin-left: auto;
    margin-right: auto;
  }

  .about-us__name {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 100px;
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    line-height: 22px;
  }

  .about-us__link {
    width: 334px;
    position: relative;
    padding-top: 0;
    margin-bottom: 113px;
  }

  .about-us__link--eco {
    order: 1;
  }

  .about-us__link--money {
    order: 3;
  }

  .about-us__link--like {
    order: 5;
  }

  .about-us__link--love {
    order: 2;
  }

  .about-us__link--support {
    order: 4;
  }

  .about-us__link--pakege {
    order: 6;
  }
}

@media (min-width: 1150px) {
  .about-us {
    top: -25px;
    width: 700px;
  }

  .about-us__name {
    font-size: 53px;
    line-height: 57px;
  }

  .about-us__link--love {
    order: 2;
    margin-left: 15px;
  }

  .about-us__link--support {
    order: 4;
    margin-left: 15px;
  }

  .about-us__link--pakege {
    order: 6;
    margin-left: 15px;
  }
}
