.contacts {
  background-color: #ffffff;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: auto 6px;
  background-position: top;
}

.contacts__wrapper {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 42px;
}

.contacts__name {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 37px;
}

.contacts__list li {
  display: flex;
  margin-bottom: 30px;
}

.contacts__mail {
  margin-right: 28px;
}

.contacts__mail-link {
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #62d1ba;
  color: #000000;
}

.contacts__adress {
  margin-right: 30px;
}

.contacts__adress p {
  margin: 0;
  padding: 0;
}

.contacts__map {
  width: 322px;
  height: 457px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.contacts_button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  font-size: 18px;
}

@media (min-width: 768px) {
  .contacts {
    position: relative;
    top: -177px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: 772px 17px;
    background-position: -25px top;
  }

  .contacts__wrapper {
    width: 668px;
    padding-top: 77px;
  }

  .contacts__name {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 50px;
  }

  .contacts__list {
    display: flex;
    justify-content: flex-start;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 37px;
  }

  .contacts__list li {
    display: flex;
    margin-bottom: 0;
    margin-right: 40px;
  }

  .contacts__mail {
    margin-right: 25px;
  }

  .contacts__mail-link {
    height: 27px;
  }

  .contacts__adress {
    margin-right: 30px;
  }

  .contacts__adress p {
    margin: 0;
    padding: 0;
  }

}
