.main-nav {
  position: relative;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
}

.main-nav__logo {
  display: block;
  width: 320px;
  padding-top: 22px;
  height: 58px;
  margin-left: auto;
  margin-right: auto;
}

.main-nav__logo-image {
  display: block;
  width: 86px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
}

.main-nav__toggle {
  position: absolute;
  top: -52px;
  right: 30px;
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.main-nav__list {
  display: none;
  padding: 0;
  margin: 0;
  margin-left: 75px;
}

@media (min-width: 768px) {
  .main-nav {
    width: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .main-nav__list {
    display: block;
  }

  .main-nav__logo {
    width: 113px;
    height: 46px;
    padding-top: 22px;
  }

  .main-nav__logo-image {
    width: 113px;
    height: 46px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list li {
    padding-top: 0;
    padding-bottom: 0;
  }

  .main-nav__list:nth-of-type(2) {
    order: 1;
    margin-left: 208px;
  }

  .main-nav__list:nth-of-type(3) {
    order: 2;
    margin-left: 0;
  }

  .main-nav__list:nth-of-type(1) {
    order: 3;
    margin: 0;
    display: flex;
  }
}

@media (min-width: 1150px) {
  .main-nav {
    justify-content: space-between;
  }

  .main-nav__logo {
    width: auto;
    padding-top: 9px;
    order: 2;
  }

  .main-nav__logo-image {
    width: 149px;
    height: 72px;
  }

  .main-nav__list:nth-of-type(2) {
    order: 3;
    margin-left: 0;
  }

  .main-nav__list:nth-of-type(3) {
    order: 4;
    margin-left: 0;
  }

  .main-nav__list:nth-of-type(1) {
    order: 1;
  }

  .main-nav__list:nth-of-type(4) {
    order: 4;
    margin-left: 0;
  }
}
