.page-form {
  background-color: #ffffff;
  margin-bottom: 58px;
}

.page-form__name {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 76px;
  margin-bottom: 23px;
  background-color: #f1f1f1;
}
