.page-header {
  background-color: rgb(255, 255, 255);

}

@media (min-width: 768px) {
  .page-header {
    width: 668px;
    margin-left: auto;
    margin-right: auto;
  }

}

@media (min-width: 1150px) {
  .page-header {
    width: 1050px;
  }
}
