.representation {
  min-height: 410px;
  padding-top: 71px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -20px;
  background-color: #f9f9f9;
}

.representation__header {
  margin-bottom: 121px;
  text-align: center;
}

.representation__slogan {
  display: block;
  font-size: 27px;
  line-height: 30px;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.representation__list {
  width: 320px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #63d1bb;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.representation__value {
  padding-left: 28px;
  padding-top: 25px;
  padding-bottom: 30px;
  line-height: 24px;
  letter-spacing: 0.07em;
}

.representation__value--toys {
  background-color: #56c3b2;
}

.representation__value--interior {
  background-image: url("../img/icon-interior.svg");
  background-repeat: no-repeat;
  background-position: 240px 20px;
}

.representation__value--toys {
  background-image: url("../img/icon-toy.svg");
  background-repeat: no-repeat;
  background-position: 230px 20px;
}

@media (min-width: 768px) {
  .representation {
    position: relative;
    min-height: 670px;
    z-index: 0;
    top: -40px;
    width: auto;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-position: center -3px;
    border-top: 1px solid #ececec;
    background-color: #f9f9f9;
  }

  .representation__header {
    padding-top: 80px;
    margin-bottom: 373px;
  }

  .representation__slogan {
    font-size: 43px;
    line-height: 50px;
    width: auto;
  }

  .representation__list {
    display: flex;
    width: 668px;
    margin-left: auto;
    margin-right: auto;
  }

  .representation__value {
    width: 334px;
    padding-left: 36px;
    padding-top: 29px;
    padding-bottom: 42px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0em;
  }

  .representation__value--interior {
    background-position: 257px 30px;
  }

  .representation__value--toys {
    background-position: 240px 32px;
  }
}

@media (min-width: 1150px) {
  .representation {
    top: -40px;
  }

  .representation__header {
    margin-bottom: 359px;
  }

  .representation__slogan {
    font-size: 53px;
    line-height: 57px;
    width: auto;
  }

  .representation__list {
    width: 1050px;
  }

  .representation__value {
    width: 525px;
  }

  .representation__value--interior {
    background-position: 448px 30px;
  }

  .representation__value--toys {
    background-position: 430px 32px;
  }
}
