.site-search {
  list-style: none;
}

.site-search__item {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.site-search__button {
  display: block;
  position: relative;
  padding-top: 27px;
  padding-bottom: 30px;
  margin-left: 74px;
  text-decoration: none;
  line-height: 24px;
  color: #000000;
}

.site-search__svg {
  display: block;
  position: absolute;
  top: 32px;
  left: -43px;
  width: 18px;
  height: 18px;
  fill: #d3d2d2;
}

.site-search__button:hover .site-search__text {
  opacity: 0.6;
}

.site-search__button:hover .site-search__svg {
  fill: #63d1bb;
}

.site-search__button:active .site-search__svg,
.site-search__button:active .site-search__text {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .site-search__item {
    border: none;
  }

  .site-search__text {
    font-size: 0;
  }

  .site-search__button {
    padding-top: 0;
    padding-bottom: 0;
    width: 81px;
    height: 89px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    margin-left: 0;
  }

  .site-search__svg {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -9px;
    width: 18px;
    height: 18px;
  }
}

@media (min-width: 1150px) {
  .site-search__button {
    width: 82px;
    height: 89px;
    margin-left: 95px;
  }
}
